<% include base.ejs %>
<%include navbar.ejs%>
<body>
<section class="userview">
    <ul>

        <% for(var i = 0;i < users.length;i++){ %>
            <li>
                <a href="/users/<%=users[i]._id%>"><%= users[i].name%></a>
            </li>
        <% } %>


    </ul>
</section>
</body>
